<template>
  <div>
    
    <b-row class="mt-5">

      <b-col cols="3">
      </b-col>

      <b-col cols="6">
        <b-card img-src="https://www.0800flor.net/wp-content/uploads/2018/03/Red-Capital-un-atractivo-modelo-de-crowdlending-%C2%A1Fant%C3%A1stico.jpg">
          
          <b-row class="mt-3">
            <b-col cols="8">
              <b-form-input required type="number" v-model="rut" placeholder="Rut"></b-form-input>
            </b-col>
            <b-col cols="4">
              <b-form-input type="number" v-model="dv" placeholder="DV"></b-form-input>
            </b-col>
          </b-row>
          <b-row class="mt-3">
            <b-col cols="12">
              <b-form-input type="password" v-model="password" placeholder="Password"></b-form-input>
            </b-col>
          </b-row>
          <b-row class="mt-3">
            <b-col cols="12" align="center">
              <b-form-checkbox variant="danger" v-model="checked">Recordar sesion</b-form-checkbox>
            </b-col>
          </b-row>
          <b-row class="mt-3">
            <b-col cols="12" align="center">
              <b-button @click="loginUser()" variant="danger">Iniciar sesion</b-button>
            </b-col>
          </b-row>

        </b-card>
      </b-col>

      <b-col cols="3">
      </b-col>

    </b-row>

    <b-modal ref="alert1" hide-footer title="Mensaje de RedCapital">
      <div class="d-block text-center">
        <h3>Debe ingresar rut y clave</h3>
      </div>
    </b-modal>
    <b-modal ref="alert2" hide-footer title="Mensaje de RedCapital">
      <div class="d-block text-center">
        <h3>Credenciales incorrectas</h3>
      </div>
    </b-modal>

  </div>
</template>

<script>
import axios from "axios";

  export default {
    data(){
      return{
        rut: '',
        dv: '',
        password: '',
        checked: [],

        token_access: '',
      }
    },
    mounted(){
      if (localStorage.token) {
        this.token_access = localStorage.token;
      }
    },
    methods:{
      async loginUser(){
        if(this.rut != "" && this.dv != "" && this.password != ""){
            try{
              const response = await axios.post('https://crm.redcapital.cl/api/login',
              {
                rut: this.rut+'-'+this.dv,
                password: this.password,
                remember_me: this.checked.length
                // rut: '16460269-9',
                // password: '123qwe',
                // remember_me: 1
              })
              localStorage.setItem('Session', response.data.data.access_token)
              console.log('Sesion iniciada');
              this.$router.push('/post')
            }catch (error){
              console.log(error);
              this.$refs['alert2'].show();
            }
        } else {
          this.$refs['alert1'].show();
        }
      }
    }
  }
</script>