<template>
  <div>

    <b-row class="mt-5">
      <b-col cols="6" align="center">
        <b-button @click="postList()" variant="danger">Obtener listado</b-button>
      </b-col>
      <b-col cols="6" align="center">
        <b-button @click="logoutUser()" variant="danger">Cerrar sesion</b-button>
      </b-col>
    </b-row>

    <b-row class="mt-5">
      <b-col class="mt-5" cols="12"  align="center" v-for="(datos, i) in dato" :key="i">
        <b-card class="card bg-danger card-block" >
          <b-card-text class="small">ID: {{datos.id}}</b-card-text>
          <b-card-text class="small">{{datos.title}}</b-card-text>
          <b-card-text>{{datos.body}}</b-card-text>
        </b-card>
      </b-col>
    </b-row>
    
  </div>
</template>

<script>
import axios from "axios";

  export default {
    data(){
      return{
        dato: ''
      }
    },
    methods:{
      async postList(){
        try{
          const response = await axios.get('https://jsonplaceholder.typicode.com/posts')
          this.dato = response.data
        }catch (error){
          console.log(error);
        }
      },
      logoutUser(){
        console.log(localStorage.getItem('YourItem'))
        this.$router.push('/')
      }
    }
  }
</script>
